body { margin: 60px auto; width: 70%; }
  
p, ul, ol, li, dd {font-size: 1.0em; line-height: 1.5em; color: #333; }

    
h1, h2, h3, h4 {font-family: serif; }
h1 {background-color: #FEFDFB; }
h1 {font-size: 2.8em; text-align: center; }
h2 {font-size: 2.1em; text-align: center; } 
h3 {font-size: 1.8em; text-align: center; }
h4 {font-size: 1.2em; } 
table {background-color: azure; border-collapse: collapse; width: 100%;} 


code, kbd, samp {font-family:monospace,monospace;
	font-size:1.2em}
code,pre,samp{font-family:Roboto Mono,Lucida Sans Typewriter,Lucida Console,monaco,Courrier,monospace;font-size:.85em}
code *,pre *,samp * {font-size:inherit}
code{background-color:rgba(0,0,0,.05);border-radius:2px;padding:2px 4px}
pre>code{ background-color:rgba(0,0,0,.05);
	display:block;
	padding:.5em;
	-webkit-text-size-adjust:none;
	overflow-x:auto;
	white-space:pre}

blockquote,dl,ol,p,pre,ul{margin:1.2em 0}
blockquote{color:rgba(0,0,0,.5);
	padding-left: 1.5em;
	border-left: 5px solid rgba(0,0,0,.075)}
.app--dark .layout__panel--editor blockquote,.app--dark .layout__panel--preview 
blockquote{color:hsla(0,0%,100%,.4);border-left-color:hsla(0,0%,100%,.075)}
blockquote{border-left-color:#ececec}.stackedit--pdf


blockquote.textbook { background: linen; 
        border-left: 10px solid #ccc;
        margin: 1.5em 10px; 
	padding: 0.5em 10px; 
	quotes: "\201C""\201D""\2018""\2019"; }
/* blockquote:before { color: #ccc; 
	content: open-quote; 
	font-size: 4em; 
	line-height: 0.1em;
	margin-right: 0.25em; 
	vertical-align: -0.4em; } */
	blockquote.textbook p { display: inline; }
  
hr.style-two { 
	border: 0; 
        height: 1px; 
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

