<footer class="site-footer">

  <div class="wrapper">

    <center>
        
	<p>

		<a class="link" href="{{ site.baseurl }}/tags/">Tags</a> /
		<a class="link" href="{{ site.baseurl }}/lyrics/">歌词</a> /
		<a class="link" href="{{ site.baseurl }}/arashi/">為</a> /
		<a class="link" href="{{ site.baseurl }}/antiquae/">古文</a> /
		<a class="link" href="{{ site.baseurl }}/misc/">その他</a> /
		<a class="link" href="{{ site.baseurl }}/about/">About</a>
        </p>

        <span><script>document.write(new Date().getFullYear());</script></span>
        <span>&copy;</span>
        
		<a class="link" href="{{ site.url }}">{{ site.name }}</a>
				<iframe
			style="margin-left: 2px; margin-bottom:-5px;"
			frameborder="0" scrolling="0" width="91px" height="20px"
			src="https://ghbtns.com/github-btn.html?user=arashi35&repo=arashi&type=star&count=true">
		</iframe>

    </center>
    
  </div>

</footer>
